.modal-container {
	position: absolute;
	width: 809px;
	height: 583px;

	top: 50%;
	left: 50%;

	margin-top: -291.5px;
	margin-left: -404.5px;

	color: #231f20;

	background-image: url(../img/modal-menu-bg.png);
	background-position: center;
	background-repeat: no-repeat;
}

.flag-logo{
   position: relative;
   padding-top: 23px;
   padding-right: 18px; 
   margin-bottom: 20px;

 &::before {
	  display: block;
	  position: absolute;
	  content: '';

	  width: 22px;
	  height: 4px;

	  top: 22px;
	  right: 220px;

	  background-color: #3f5daa;
	  border-top: 4px solid white;
	  border-bottom: 4px solid #ec3f24;

 }
}

.flag-logo__text{
	font-family: GothaProBlack;
	font-size: 12.72px;
	line-height: 12px; 
	letter-spacing: -0.5px;
	text-align: right;

	color: black;
}

.text-block{
 margin-bottom: 23px;
 text-align: center;
}

.text-block__title{
	font-family: GothaProBlack, sans-serif;
	font-size: 61.5px;
	line-height: 58.5px;
	margin-bottom: 12px;
	color: white;
	letter-spacing: -0.5px;

}

.text-block__description {
 font-family: MyriadPro-Semibold, sans-serif;
 font-size: 18px;
 line-height: 16.4px;
 text-transform: none;
}

.form-wrap {
	padding: 0 150px;
}

.years-block {
 font-size: 0;
 margin-bottom: 15px;
}

.years-block__title {
	font-family: MyriadPro-Bold, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: none;
}

.years-block label {
	display: inline-block;
	width: 90px;
	padding: 18px 0 20px;
	font-family: GothaProBold, sans-serif;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
	color: white;
	background: #21336d;

	cursor: pointer;

	&:hover{
		@include shadow-light(#21336d, 5%);
	}
	
}

.years-block label+label{
		margin-left: 14px;
	}

#age1:checked ~  label[for="age1"],
#age2:checked ~  label[for="age2"],
#age3:checked ~  label[for="age3"],
#age4:checked ~  label[for="age4"],
#age5:checked ~  label[for="age5"] {
 	color: #96c3ed;
	
	@include shadow(#21336d, 25%);
}




.gender-block{
 font-size: 0;
 margin-bottom: 40px;
}

.gender-block__title {
	@extend .years-block__title;
}

.gender-block label {
	display: inline-block;
	width: 194px;
	padding:15px 0px;
	padding-left: 56px;
	
	font-family: GothaProBold, sans-serif;
	font-size: 23px;
	line-height: 26px;

	color: white;
	background: #456be4;

	text-transform: uppercase;
	cursor: pointer;

	&:hover{
		@include shadow-light(#456be4, 10%);
	}

	&:last-child {
		background: #ff8ea9;
		margin-left: 8px;

		&:hover {
			@include shadow-light(#ff8ea9, 8%);
		}
	}
}

#male:checked ~ label[for="male"] {
  @include shadow(#456be4, 30%);
}

#female:checked ~ label[for="female"] {
	@include shadow(#ff8ea9, 18%);
}




.employment-block {
font: 0;
}

.employment-block label {
	display: inline-block;
	position: relative;
	
	font-family: MyriadPro-Regular;
	font-size: 20px;
	line-height: 31px;
	
	padding-left: 30px;

	text-transform: none;
	cursor: pointer;
	
	&:nth-child(odd) {
		margin-right: 10px;
		width: 139px;
	}

	&::before, &::after {
		display: block;
		position: absolute;
		content: '';
		
		top: 8px;
		left:0;	
	}

	&::before {
		width: 20px;
		height: 20px;

		background-color: white;
		cursor: inherit;

	}
	
	&:hover::before {
		background-color: #ffb7f1;
		transition:all 0.5s;
	}

}

#school:checked ~ label[for="school"]::after,
#education:checked ~ label[for="education"]::after,
#civil:checked ~ label[for="civil"]::after,
#company:checked ~ label[for="company"]::after,
#pensioner:checked ~ label[for="pensioner"]::after,
#other:checked ~ label[for="other"]::after {
	width: 25px;
	height: 30px;

	top: -3px; 

	background-image: url(../img/checked-icon.svg);
	background-position: 0px 2px;
	background-repeat: no-repeat;
}




.thank-block {
	position: absolute;
	top: 468px;
	right: 29px;
}

.modal-window--close {
	position: absolute;
	top: -50px;
	right: -50px;
}

.cross {
	display: block;
	position: relative;

	width: 40px;
	height: 40px;
	background-color: white;
	border: 3px solid black;
	border-radius: 50%;
	cursor: pointer;
	
 	&::before, &::after {
 		display: block;
 		position: absolute;
 		content: '';

 		width: 28px;
 		height: 3px;

 		top: 18px;
 		left: 5px;
 		background-color: black;
 	}

 	&::before {
   		transform: rotate(45deg);
 	}

 	&::after {
 		transform: rotate(-45deg);
 	}

 	&:hover {
 		background-color: black;
 		border-color: white;

 		transform: rotate(90deg);
 		transition: 0.3s linear;
 	}

 	&:hover::before, &:hover::after{
 		background-color: white;
 	}
 	
 	&:active {
 		transform: scale(0.95);
 	}
}

.close{
	display: none;
}